alembic==1.0.0
appdirs==1.4.3
blinker==1.4
certifi==2018.8.24
chardet==3.0.4
Click==7.0
compress==0.0.2
Faker==0.9.1
Flask==1.0.2
Flask-Assets==0.12
Flask-Compress==1.4.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.2.1
Flask-RQ==0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
gunicorn==19.9.0
honcho==1.0.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jsmin==2.2.2
jsonpickle==1.0
kafka-python==1.4.3
Mako==1.0.7
MarkupSafe==1.0
packaging==18.0
psycopg2==2.7.5
pyparsing==2.2.2
python-dateutil==2.7.3
python-editor==1.0.3
raygun4py==3.1.6
redis==2.10.6
requests==2.19.1
rq==0.12.0
six==1.11.0
SQLAlchemy==1.2.12
text-unidecode==1.2
urllib3==1.23
webassets==0.12.1
Werkzeug==0.14.1
WTForms==2.2.1
